
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

strong {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    text-align: center;
}

.mot {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    strong {
        font-size: 10vw;
    }
}

@media screen and (max-width: 300px) {
    strong {
        font-size: 15vw;
    }
}