.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.53);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.perdu, .gagne {
    width: 60%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.popup img {
    width: 80%;
    max-width: 300px;
}
.popup button {
    min-width: fit-content;
}