@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
P {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6
span {
  margin: 0;
  line-height: 1.5;
  font-size: 2rem;
}

main { 
  width: fit-content;
  margin: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}